In [6]:
# Dehejia and Wahba 1999 data prep
import pandas as pd

f_names = [r'cps1re74.dta',
           r'cps3re74.dta',
           r'nswre74.dta']

pd.read_stata(f_names[0])

,treat,age,ed,black,hisp,married,nodeg,re74,re75,re78,age2
0,1,37,11,1,0,1,1,0.000000,0.000000,9930.045898,1369.0
1,1,22,9,0,1,0,1,0.000000,0.000000,3595.894043,484.0
2,1,30,12,1,0,0,0,0.000000,0.000000,24909.449219,900.0
3,1,27,11,1,0,0,1,0.000000,0.000000,7506.145996,729.0
4,1,33,8,1,0,0,1,0.000000,0.000000,289.789886,1089.0
...,...,...,...,...,...,...,...,...,...,...,...
16172,0,22,12,1,0,0,0,3975.352051,6801.435059,2757.437988,484.0
16173,0,20,12,1,0,1,0,1445.938965,11832.240234,6895.071777,400.0
16174,0,37,12,0,0,0,0,1733.951050,1559.370972,4221.865234,1369.0
16175,0,47,9,0,0,1,1,16914.349609,11384.660156,13671.929688,2209.0
16176,0,40,10,0,0,0,1,13628.660156,13144.549805,7979.724121,1600.0

In [7]:
pd.read_stata(f_names[1])

,treat,age,ed,black,hisp,married,nodeg,re74,re75,re78,age2
0,1,37,11,1,0,1,1,0.0,0.0,9930.045898,1369.0
1,1,22,9,0,1,0,1,0.0,0.0,3595.894043,484.0
2,1,30,12,1,0,0,0,0.0,0.0,24909.449219,900.0
3,1,27,11,1,0,0,1,0.0,0.0,7506.145996,729.0
4,1,33,8,1,0,0,1,0.0,0.0,289.789886,1089.0
...,...,...,...,...,...,...,...,...,...,...,...
609,0,18,11,0,0,0,1,0.0,0.0,10150.500000,324.0
610,0,24,1,0,1,1,1,0.0,0.0,19464.609375,576.0
611,0,21,18,0,0,0,0,0.0,0.0,0.000000,441.0
612,0,32,5,1,0,1,1,0.0,0.0,187.671295,1024.0
613,0,16,9,0,0,0,1,0.0,0.0,1495.458984,256.0

In [8]:
pd.read_stata(f_names[2])

,treat,age,ed,black,hisp,married,nodeg,re74,re75,re78,age2
0,1,37,11,1,0,1,1,0.000000,0.000000,9930.045898,1369.0
1,1,22,9,0,1,0,1,0.000000,0.000000,3595.894043,484.0
2,1,30,12,1,0,0,0,0.000000,0.000000,24909.449219,900.0
3,1,27,11,1,0,0,1,0.000000,0.000000,7506.145996,729.0
4,1,33,8,1,0,0,1,0.000000,0.000000,289.789886,1089.0
...,...,...,...,...,...,...,...,...,...,...,...
440,0,21,9,1,0,0,1,31886.429688,12357.219727,0.000000,441.0
441,0,28,11,1,0,0,1,17491.449219,13371.250000,0.000000,784.0
442,0,29,9,0,1,0,1,9594.307617,16341.160156,16900.300781,841.0
443,0,25,9,1,0,1,1,24731.619141,16946.630859,7343.963867,625.0
444,0,22,10,0,0,1,1,25720.919922,23031.980469,5448.800781,484.0